footer {
  /* Posicionar abajo */
  margin-top: 20px;
  bottom: 400%;
  /* Ocupar todo el ancho disponible */
  width: 100%;
  min-height: 18vh;
  /* Solo para probar cómo se ve */
  background-color: black;
}