body {
	background-image: url("../images/fondo.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #999;
	height: auto;
	width: 100%;
	position: absolute;
	/*position absolute para colocarlo delante de la imagen*/
	top: 0;
	/*posicionamos el div a la altura del contenedor*/
	border-radius: 10px;
	backdrop-filter: blur(3px);

}